.App {
  text-align: center;
  background: rgb(251, 230, 63);
  background: radial-gradient(
    circle,
    rgba(251, 230, 63, 1) 0%,
    rgba(252, 70, 107, 1) 98%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pup-img {
  height: 300px;
}
header {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.logo {
  height: 70px;
}
.main {
  max-width: 90%;
}
h5 {
  margin: 10px;
}
footer p {
  font-size: 10px;
}
