.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.img-wrapper {
  height: 300px;
  width: 90vw;
  object-fit: cover;
  overflow: hidden;
}
.pup-img {
  max-height: 100%;
}
.banner {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 70px;
}
h2 {
  font-size: 10px;
}
.main {
  max-width: 90%;
}
h5 {
  margin: 10px;
}
footer {
  font-size: 10px;
  margin-top: 60px;
}
footer a {
  color: rgb(190 38 69);
}
button {
  border: none;
  background-color: #fc5a67;
  color: white;
  font-weight: bold;
  padding: 6px;
  margin: 10px;
  font-family: inherit;
}
